spring:
  application:
    name: notification-service

  config:
    import: "optional:configserver:"

  cloud:
    config:
      enabled: true
      uri: http://localhost:8888
      fail-fast: true
      retry:
        initial-interval: 1000
        max-interval: 2000
        max-attempts: 6
#      discovery:
#        enabled: true
#        service-id: config-server

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka